
#org-float-editor-block {
    width: 47em;
    height: 50em;
    max-height: 80%;
    max-width: 70%;
    background: rgb(251,248,239);
    font-size: 10pt;
    position: fixed;
    right: 4px;
    top: 4px;
    overflow-y: auto;
}

#org-float-editor-block-pre {
    width: 100%;
    white-space: pre-wrap; /* css-3 */    
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */    
    white-space: -o-pre-wrap; /* Opera 7 */    
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    background: rgb(251,248,239);
    margin: 0 0 0 0;
    color: black;
    font-size: 11pt;
}
